<a href="https://colab.research.google.com/github/KieuSonTung/Data_Preparation/blob/main/DataPrepL4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive/')

Mounted at /content/drive/

In [2]:
import pandas as pd
import numpy as np

In [4]:
Path = 'drive/MyDrive/ColabNotebooks/data/5.Numpy/'
nyc_weather = pd.read_csv(Path+'nyc_weather_2018.csv')
weather_station = pd.read_csv(Path+'weather_stations.csv')
fb = pd.read_csv(Path+'fb_2018.csv')
earthquake = pd.read_csv('drive/MyDrive/ColabNotebooks/data/earthquakes.csv')
weather_by_station = pd.read_csv('/content/drive/MyDrive/ColabNotebooks/data/5.Numpy/weather_by_station.csv')

In [46]:
nyc_weather.shape

(78780, 5)

In [48]:
nyc_weather.head()

                  date datatype            station attributes  value
0  2018-01-01T00:00:00     PRCP  GHCND:US1CTFR0039       ,,N,    0.0
1  2018-01-01T00:00:00     PRCP  GHCND:US1NJBG0015       ,,N,    0.0
2  2018-01-01T00:00:00     SNOW  GHCND:US1NJBG0015       ,,N,    0.0
3  2018-01-01T00:00:00     PRCP  GHCND:US1NJBG0017       ,,N,    0.0
4  2018-01-01T00:00:00     SNOW  GHCND:US1NJBG0017       ,,N,    0.0

In [47]:
weather_station.shape

(279, 5)

In [49]:
weather_station.head()

                  id                           name  ...  longitude  elevation
0  GHCND:US1CTFR0022        STAMFORD 2.6 SSW, CT US  ... -73.577000       36.6
1  GHCND:US1CTFR0039          STAMFORD 4.2 S, CT US  ... -73.568176        6.4
2  GHCND:US1NJBG0001      BERGENFIELD 0.3 SW, NJ US  ... -74.001983       20.1
3  GHCND:US1NJBG0002  SADDLE BROOK TWP 0.6 E, NJ US  ... -74.083358       16.8
4  GHCND:US1NJBG0003           TENAFLY 1.3 W, NJ US  ... -73.977500       21.6

[5 rows x 5 columns]

In [14]:
nyc_weather.query('datatype == "SNOW" and value > 0 and station.str.contains("US1NY").values').head()

                    date datatype            station attributes  value
114  2018-01-01T00:00:00     SNOW  GHCND:US1NYWC0019       ,,N,   25.0
789  2018-01-04T00:00:00     SNOW  GHCND:US1NYNS0007       ,,N,   41.0
794  2018-01-04T00:00:00     SNOW  GHCND:US1NYNS0018       ,,N,   10.0
798  2018-01-04T00:00:00     SNOW  GHCND:US1NYNS0024       ,,N,   89.0
800  2018-01-04T00:00:00     SNOW  GHCND:US1NYNS0030       ,,N,  102.0

In [16]:
# df = nyc_weather.merge(weather_station, left_on='station', right_on='id', how='right').drop(columns='id')
df = nyc_weather.merge(weather_station.rename(columns={'id':'station'}), on='station')
df.head(5)

                  date datatype  ...  longitude elevation
0  2018-01-01T00:00:00     PRCP  ... -73.568176       6.4
1  2018-01-02T00:00:00     PRCP  ... -73.568176       6.4
2  2018-01-03T00:00:00     PRCP  ... -73.568176       6.4
3  2018-01-05T00:00:00     DAPR  ... -73.568176       6.4
4  2018-01-05T00:00:00     MDPR  ... -73.568176       6.4

[5 rows x 9 columns]

In [54]:
nyc_weather.query('date=="2018-01-03T00:00:00"')

                    date datatype            station attributes  value
461  2018-01-03T00:00:00     PRCP  GHCND:US1CTFR0039       ,,N,    0.0
462  2018-01-03T00:00:00     PRCP  GHCND:US1NJBG0015       ,,N,    0.0
463  2018-01-03T00:00:00     SNOW  GHCND:US1NJBG0015       ,,N,    0.0
464  2018-01-03T00:00:00     PRCP  GHCND:US1NJBG0017       ,,N,    0.0
465  2018-01-03T00:00:00     SNOW  GHCND:US1NJBG0017       ,,N,    0.0
..                   ...      ...                ...        ...    ...
693  2018-01-03T00:00:00     TMIN  GHCND:USW00094789   ,,W,2400  -11.0
694  2018-01-03T00:00:00     WDF2  GHCND:USW00094789       ,,W,  260.0
695  2018-01-03T00:00:00     WDF5  GHCND:USW00094789       ,,W,  270.0
696  2018-01-03T00:00:00     WSF2  GHCND:USW00094789       ,,W,    8.9
697  2018-01-03T00:00:00     WSF5  GHCND:USW00094789       ,,W,   10.3

[237 rows x 5 columns]

In [55]:
weather_station.id.unique().shape

(279,)

In [25]:
df[(df.datatype.str.contains('SNOW')) & (df.name.str.contains('NJ US'))]

                      date datatype  ... longitude elevation
344    2018-01-01T00:00:00     SNOW  ... -74.13979      17.7
346    2018-01-02T00:00:00     SNOW  ... -74.13979      17.7
348    2018-01-03T00:00:00     SNOW  ... -74.13979      17.7
350    2018-01-04T00:00:00     SNOW  ... -74.13979      17.7
354    2018-01-06T00:00:00     SNOW  ... -74.13979      17.7
...                    ...      ...  ...       ...       ...
78736  2018-12-26T00:00:00     SNOW  ... -74.37212      27.4
78738  2018-12-27T00:00:00     SNOW  ... -74.37212      27.4
78742  2018-12-31T00:00:00     SNOW  ... -74.37212      27.4
78759  2018-12-24T00:00:00     SNOW  ... -74.25830     161.2
78768  2018-12-30T00:00:00     SNOW  ... -74.25830     161.2

[8347 rows x 9 columns]

In [ ]:
nyc_weather[nyc_weather.datatype == 'SNOW'].station.unique().shape

(98,)

In [ ]:
df[(df.datatype.str.contains('SNOW')) & (df.name.str.contains('NJ US'))].drop_duplicates(subset=['station', 'datatype']).elevation.mean()

58.348484848484865

In [ ]:
df[(df.datatype.str.contains('SNOW')) & (df.name.str.contains('NJ US'))].drop_duplicates(subset=['station', 'datatype']).shape

(66, 9)

In [31]:
fb.head(5)

         date    open    high       low   close    volume  volmue_next_day
0  2018-01-02  177.68  181.58  177.5500  181.42  18151903              NaN
1  2018-01-03  181.88  184.78  181.3300  184.67  16886563       18151903.0
2  2018-01-04  184.90  186.21  184.0996  184.33  13880896       16886563.0
3  2018-01-05  185.59  186.90  184.9300  186.85  13574535       13880896.0
4  2018-01-08  187.20  188.90  186.3300  188.28  17994726       13574535.0

In [27]:
fb.sort_values(by='date', inplace=True)

In [28]:
fb.assign(pct_change=lambda x: x.volume.pct_change().abs()).sort_values(by='pct_change', ascending=False)[:5]

           date    open    high     low   close     volume  pct_change
8    2018-01-12  178.06  181.48  177.40  179.37   77551299    7.087876
52   2018-03-19  177.01  177.17  170.06  172.56   88140060    2.611789
142  2018-07-26  174.89  180.13  173.75  176.26  169803668    1.628841
182  2018-09-21  166.64  167.25  162.81  162.93   45994800    1.428956
57   2018-03-26  160.82  161.10  149.02  160.06  126116634    1.352496

In [43]:
fb['volume_prev_day'] = fb.volume.shift(periods=1)

In [44]:
fb.assign(pct_change_2=lambda x: abs((x.volume - x.volume_prev_day)/x.volume_prev_day)).sort_values(by='pct_change_2', ascending=False)[:5]

           date    open    high  ...  volume_next_day  volume_prev_day  pct_change_2
8    2018-01-12  178.06  181.48  ...        9588587.0        9588587.0      7.087876
52   2018-03-19  177.01  177.17  ...       24403438.0       24403438.0      2.611789
142  2018-07-26  174.89  180.13  ...       64592585.0       64592585.0      1.628841
182  2018-09-21  166.64  167.25  ...       18936038.0       18936038.0      1.428956
57   2018-03-26  160.82  161.10  ...       53609706.0       53609706.0      1.352496

[5 rows x 10 columns]

In [ ]:
earthquake.head()

In [ ]:
labels = ['1', '2', '3', '4', '5']
data = earthquake[earthquake.magType.str.contains('ml', na=False)]

earthquake['bins'] = pd.cut(data['mag'], bins=5, labels=labels, include_lowest=True)
data.head()

In [60]:
data.bins.value_counts()

2    2990
3    2921
1     509
4     372
5      11
Name: bins, dtype: int64

In [86]:
weather_by_station.head()

        date datatype  ...                    station_name  month
0 2018-01-01     PRCP  ...           STAMFORD 4.2 S, CT US      1
1 2018-01-01     PRCP  ...  NORTH ARLINGTON 0.7 WNW, NJ US      1
2 2018-01-01     SNOW  ...  NORTH ARLINGTON 0.7 WNW, NJ US      1
3 2018-01-01     PRCP  ...        GLEN ROCK 0.7 SSE, NJ US      1
4 2018-01-01     SNOW  ...        GLEN ROCK 0.7 SSE, NJ US      1

[5 rows x 6 columns]

In [82]:
weather_by_station.date_index = pd.DatetimeIndex(pd.to_datetime(weather_by_station.date, format='%y/%m/%d'))
weather_by_station['month'] = weather_by_station.date_index.month

In [90]:
weather_by_station.groupby(['month', 'station']).value.mean()

month  station
1      GHCND:US1CTFR0039      9.762857
       GHCND:US1NJBG0003     14.255556
       GHCND:US1NJBG0015      6.207692
       GHCND:US1NJBG0017     11.339506
       GHCND:US1NJBG0018     14.388889
                               ...
12     GHCND:USW00054787    185.034708
       GHCND:USW00094728      2.732143
       GHCND:USW00094741    179.765398
       GHCND:USW00094745    195.080069
       GHCND:USW00094789     41.066298
Name: value, Length: 1153, dtype: float64

In [102]:
snow = weather_by_station[weather_by_station.datatype.str.contains('SNOW')]
snow.groupby(['month', 'station']).station.value_counts()

month  station            station
1      GHCND:US1CTFR0039  GHCND:US1CTFR0039     2
       GHCND:US1NJBG0003  GHCND:US1NJBG0003     1
       GHCND:US1NJBG0015  GHCND:US1NJBG0015    20
       GHCND:US1NJBG0017  GHCND:US1NJBG0017    25
       GHCND:US1NJBG0018  GHCND:US1NJBG0018    27
                                               ..
12     GHCND:USC00308577  GHCND:USC00308577    31
       GHCND:USW00014732  GHCND:USW00014732    31
       GHCND:USW00014734  GHCND:USW00014734    31
       GHCND:USW00094728  GHCND:USW00094728    31
       GHCND:USW00094789  GHCND:USW00094789    31
Name: station, Length: 841, dtype: int64