<a href="https://colab.research.google.com/github/KieuSonTung/Data_Preparation/blob/main/ReviewPandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
import pandas as pd
import re

In [12]:
from google.colab import drive
drive.mount('/content/drive/')

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).

In [153]:
Path = 'drive/MyDrive/ColabNotebooks/data/'
df = pd.read_csv(Path+'earthquakes.csv')

In [32]:
df.head(5)

  alert  cdi  ...        updated                                                url
0   NaN  NaN  ...  1539475395144  https://earthquake.usgs.gov/earthquakes/eventp...
1   NaN  NaN  ...  1539475253925  https://earthquake.usgs.gov/earthquakes/eventp...
2   NaN  4.4  ...  1539536756176  https://earthquake.usgs.gov/earthquakes/eventp...
3   NaN  NaN  ...  1539475196167  https://earthquake.usgs.gov/earthquakes/eventp...
4   NaN  NaN  ...  1539477547926  https://earthquake.usgs.gov/earthquakes/eventp...

[5 rows x 26 columns]

In [15]:
df.shape

(9332, 26)

In [167]:
ex1 = df.mag[(df.type =='explosion') & (df.magType =='ml')].count()
ex1

79

In [145]:
ex2 = df.mag[(df.place.str.contains('Alaska', na=False)) &~ ((df.place.str.contains('\d\d\d', na=False, regex=True)))].mean()
ex2

1.3744199088678577

In [166]:
# df.place[pd.to_numeric(df.place[df.place.str.contains('\d\d', na=False, regex=True)].str.split(' ').str.get(0).str[:-2]) < 100]

In [154]:
df.time = pd.to_datetime(df.time.tolist(), dayfirst=True, utc=True, unit='ms', origin='unix')

In [160]:
df['quarter'] = df.time.dt.quarter

In [162]:
df.groupby(['quarter', 'time'])['mag'].mean()

quarter  time
3        2018-09-18 00:01:04.470000+00:00    0.66
         2018-09-18 00:12:25.350000+00:00    1.10
         2018-09-18 00:18:28.180000+00:00    2.40
         2018-09-18 00:22:15.130000+00:00    1.00
         2018-09-18 00:23:48.060000+00:00    0.62
                                             ...
4        2018-10-13 23:51:56.050000+00:00    2.16
         2018-10-13 23:56:18.070000+00:00    0.44
         2018-10-13 23:57:42.610000+00:00    3.42
         2018-10-13 23:58:49.610000+00:00    1.29
         2018-10-13 23:59:28.010000+00:00    1.35
Name: mag, Length: 9332, dtype: float64

In [151]:
pd.DatetimeIndex(df['time'])

DatetimeIndex(['2018-10-13 23:59:28.010000+00:00',
               '2018-10-13 23:58:49.610000+00:00',
               '2018-10-13 23:57:42.610000+00:00',
               '2018-10-13 23:56:18.070000+00:00',
               '2018-10-13 23:51:56.050000+00:00',
               '2018-10-13 23:34:46.440000+00:00',
               '2018-10-13 23:26:16.017000+00:00',
               '2018-10-13 23:24:20.280000+00:00',
               '2018-10-13 23:24:02.310000+00:00',
               '2018-10-13 23:20:14.760000+00:00',
               ...
               '2018-09-18 00:38:10.700000+00:00',
               '2018-09-18 00:33:48.440000+00:00',
               '2018-09-18 00:25:57.100000+00:00',
               '2018-09-18 00:25:44.890000+00:00',
               '2018-09-18 00:23:50.260000+00:00',
               '2018-09-18 00:23:48.060000+00:00',
               '2018-09-18 00:22:15.130000+00:00',
               '2018-09-18 00:18:28.180000+00:00',
               '2018-09-18 00:12:25.350000+00:00',
               '2018-09-18 00:01:04.470000+00:00'],
              dtype='datetime64[ns, UTC]', name='time', length=9332, freq=None)

In [163]:
df.time[(pd.DatetimeIndex(df['time']).month>=1) & (pd.DatetimeIndex(df['time']).month<=3)]

Series([], Name: time, dtype: datetime64[ns, UTC])

In [164]:
mean_q1 = df.mag[(pd.DatetimeIndex(df['time']).month>=1) & (pd.DatetimeIndex(df['time']).month<=3)].mean()
mean_q1

nan

In [165]:
mean_q2 = df.mag[(pd.DatetimeIndex(df['time']).month>=4) & (pd.DatetimeIndex(df['time']).month<=6)].mean()
mean_q2

nan

In [139]:
mean_q3 = df.mag[(pd.DatetimeIndex(df['time']).month>=7) & (pd.DatetimeIndex(df['time']).month<=9)].mean()
mean_q3

1.466735124760082

In [141]:
mean_q4 = df.mag[(pd.DatetimeIndex(df['time']).month>=10) & (pd.DatetimeIndex(df['time']).month<=12)].mean()
mean_q4

1.5360446493569568

In [126]:
pd.to_datetime(df.time.tolist(), unit='ms').month.unique()

Int64Index([10, 9], dtype='int64')